/*--------------------------------*- C++ -*----------------------------------*\\
| =========                 |                                                 |
| \\\\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\\\    /   O peration     | Version:  {{version}}                            |
|   \\\\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\\\/     M anipulation  |                                                 |
\\*---------------------------------------------------------------------------*/
FoamFile
{
    version     {{foam_version}};
    format      {{format}};
    class       {{class_}};
    location    "{{location}}";
    object      {{object}};
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
{% block content %}
{% endblock %}

// ************************************************************************* //