{% extends "base.jinja" %}
{% block content %}
dimensions      [{{ dimensions|join(' ') }}];
                                        
{% for name, var_content in additional_vars.items() %}
{{ var_content }}              
{% endfor %}

internalField   {% if is_uniform %}uniform {{ value }}{% else %}nonuniform List<scalar>
{{ values|length }}
(
{% for val in values %}
    {{ val }}{% endfor %}
){% endif %};

boundaryField
{
{% for name, patch in boundary_fields.items() %}
    {{ name }}
    {
        type            {{ patch.type }};
        {%- if 'value' in patch and patch.value is not none %}
        value           {% if patch.is_uniform %}{{ patch.value }}{% else %}nonuniform List<scalar>
        {{ patch.values|length }}
        (
        {% for val in patch.values %}
            {{ val }}{% endfor %}
        ){% endif %};
        {%- endif -%}  {# 'value' in patch #}
        {%- for key, val in patch.additional_vars.items() %}
        {{ key }}            {{ val }};{% endfor %}
    }
{% endfor %}
}
{% endblock %}