{% extends "base.jinja" %}
{% block content %}
dimensions      [{{ dimensions|join(' ') }}];
                                        
{% for name, var_content in additional_vars.items() %}
{{ var_content }}
                                        
{% endfor %}

internalField   {% if is_uniform %}uniform {{ value }}{% else %}nonuniform List<scalar>
{{ values|length }}
(
{% for val in values %}
    {{ val }}{% endfor %}
){% endif %};

boundaryField
{
{% for name, patch in boundary_fields.items() %}
    {{ name }}
    {
        type            {{ patch.type }};
        {% if 'value' in patch %}value           {% if patch.is_uniform %}uniform {{ patch.value }}{% else %}nonuniform List<scalar>
        {{ patch.values|length }}
        (
        {% for val in patch.values %}
            {{ val }}{% endfor %}
        ){% endif %};
        {% endif %}
        {% for key, val in patch.items() %}{% if key not in ['type', 'value', 'is_uniform', 'values'] %}
        {{ key }}            {{ val }};{% endif %}{% endfor %}
    }
{% endfor %}
}
{% endblock %}