{% extends "base.jinja" %}
{% block content %}

numberOfSubdomains {{ numberOfSubdomains }};

method          scotch;

simpleCoeffs
{
    n               ($numberOfSubdomains  1 1);
    delta           0.001;
}

hierarchicalCoeffs
{
    n               (1 1 1);
    delta           0.001;
    order           xyz;
}

manualCoeffs
{
    dataFile        "";
}

distributed     no;

roots           ( );

{% endblock %}