{% extends "base.jinja" %}
{% block content %}
{% if type_ == "VoF" %}
{% include "system/fvSolution.VoF.jinja" %}
{% elif type_ == "default" %}
{% endif %}
PIMPLE
{
    momentumPredictor   {{ PIMPLE.momentumPredictor }};
    nOuterCorrectors    {{ PIMPLE.nOuterCorrectors }};
    nCorrectors         {{ PIMPLE.nCorrectors }};
    nNonOrthogonalCorrectors {{ PIMPLE.nNonOrthogonalCorrectors }};
}


relaxationFactors
{
    equations
    {
        ".*"                0.7;
        {#
        // "alpha.*"           0.5;
        // "U.*"               0.7;
        // "p_rgh.*"           0.3;
        #}
    }
}
{% endblock %}