/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  dev                                   |
|   \\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/

#includeEtc "caseDicts/postProcessing/probes/cloud.cfg"

sets
(
    cloud
    {
        type    cloud;
        axis    xyz;
        points  $points;
    }
);

// ************************************************************************* //
