/* Modifications to standard doxygen style */

/* needs space between surrounding border */
.contents {
    padding-left: 10px;
    padding-right: 10px;
}

/* needs space between surrounding border */
.contents ul {
    margin-left: 20px;
    list-style-type: square;
}

/* colour and underline to match OpenFOAM style */
div.title
{
    text-align: center;
    font-size: 150%;
    color:  #646464;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 7px solid #E1E1E1;
}

/* colour and underline to match OpenFOAM style */
.contents h1,
.contents h2
{
    color:  #646464;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 7px solid #E1E1E1;
}

/* sub-heading as per navigation background */
.contents h2
{
    margin-top: 1em;
    background:     rgb(240,240,240);
}


/* match overall border style */
.contents hr
{
    border: 2px solid rgb(175,175,175);
    margin: 1em -10px;
}


/* client-side search */
/* #MSearchResultsWindow { } */


/* table displayed in "Class List" */
td.indexkey,
td.indexvalue,
tr.memlist
{
    background-color: #F0F0F0;
}

.memSeparator {
    display:none;
}

#searchli {
    padding: 0px;
}

#MSearchBox {
    margin-top: 0px;
    width: 200px;
}

.OFTable {
    width: 100%;
    border: 1px solid rgb(175,175,175);
    margin-top: 10px;
    margin-bottom: 10px;
/*    background-color: #F0F0F0; */
    padding: 5px;
}

.OFTable th {
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid rgb(175,175,175);
}

.OFTable td {
    padding-left: 5px;
}

div.line,
span.comment,
span.keyword,
span.preprocessor,
span.keywordflow,
a.code
{
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace, fixed;
}
